$bg-color: #e9f4f3;
$border-color: #262d35;
$big-font-color: #e95f0e;
$bg-of-div: #e9f4f3;
$div-font-color: #262d35;
$btn-bg-color: #f7a572;
$error-text-color: red;
$font: 'Impact', 'Anton', sans-serif;
$max-dimm-for-two-img: 250px;
$scroll-width: 10px;
$small-font-color: #262d35;

// #F78B4A  #f78845
@mixin flex-text($width) {
  & > div {
    position: relative;
    max-height: $width;
    width: $width;
    text-align: left;
    font-size: .7em;
    overflow-y: auto;
    overflow-x: hidden;
    top:0;
    left:0;
    & > p {
      width: fit-content;
      text-align: center; 
      margin: 0 auto;
    }
  }
}


@mixin for-img {
  transition: transform 1.5s ease-in-out;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}


@mixin disc-container {
  box-sizing: content-box;
  width: 100%;
  max-width: 250px;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 1em;
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-auto-flow: row;
}
@mixin custom-h5 {
  text-transform: uppercase;

  color: $big-font-color;
  font-size: .5em;
}
@mixin discs {
  max-width: 1024px;
  h5{
    @include custom-h5;
  }
  .disc-wrapper {
    padding: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 90%;
    justify-content:  center;
    .disc-container {
      @include disc-container;
      .disc-img {
        padding: 0;
        margin: 0;
        // max-height: min-content;
        border:none;
        display: grid;
        position: relative;
        justify-self: center;
        align-content: center;
        @include flex-text(60vw);
        > div {
          overflow-y: scroll;
          max-width: 250px;
        }
        img {
          height: auto;
          width: 100%;
          @include for-img;
        }
      }
      .disc-text {
        align-self: center;
        align-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        max-width:fit-content;
        display: flex;
        flex-direction: row;
        font-family: $font;
        .disc-title {
          color: $big-font-color;
          text-align: right;
          max-width: max-content;
        }

        .disc-year {
          text-align: left;
          align-self: left;
          font-family: $font;
          margin-left: 3em;
          color: $big-font-color;
        }
      }
    }
  }
}


@mixin discs-two-columns {
  max-width: 90%;
  h5 {
    @include custom-h5;
  }
  .disc-wrapper {
    padding: 0 auto;
    display:grid;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    .disc-container {
      @include disc-container;
      .disc-img {
        padding: 0;
        margin: 0;
        border:none;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        justify-items: center; //center p tags
        @include flex-text(100%);
        position: relative;
        width: $max-dimm-for-two-img;
        height: $max-dimm-for-two-img;
        max-height: $max-dimm-for-two-img;
        & > div {
          width:fit-content;
          overflow-y: auto;
        }
        img {
          height: auto;
          max-width: 100%;
          width: auto;
          max-width: $max-dimm-for-two-img;
          @include for-img;
        }
      }
      .disc-text {
        align-self: center;
        text-align: center;
        margin: 0;
        padding: 0;
        max-width:fit-content;
        display: grid;
        grid-auto-flow: column;

        .disc-title {
          color: $big-font-color;
          font-family: $font;
          text-align: left;
          max-width: fit-content;
        }

        .disc-year {
          text-align: right;
          align-self: right;
          font-family: $font;
          margin-left: 3em;
          color: $big-font-color;
        }
      }
    }
  }
}


@mixin margin-padding {
  margin: 1.5em 10%;
  padding: 1em;
}
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {//addresses the background of the bar itself. It is usually covered by the other elements
  width: $scroll-width;
}
#form::-webkit-scrollbar {//addresses the background of the bar itself. It is usually covered by the other elements
  width: $scroll-width + 5px;
}
*::-webkit-scrollbar-button { //addresses the directional buttons on the scrollbar
  background-color: $small-font-color;
  height: 2px;
}

body::-webkit-scrollbar-track-piece{ //is the top-most layer of the the progress bar not covered by the draggable scrolling element (thumb)
  border-left: 2px solid $small-font-color;
  width: 20px;
}
*::-webkit-scrollbar-thumb{ //addresses the draggable scrolling element that resizes depending on the size of the scrollable element
  background-color: $big-font-color;
  }
body::-webkit-scrollbar-thumb{ //addresses the draggable scrolling element that resizes depending on the size of the scrollable element
  border-left: 2px solid $small-font-color;
}
span {
  text-decoration: underline;
}

.App {
  text-align: center;
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  display: relative;
  left: 50%;
  transition: translateX(-50%);
}

main { 
 max-width: 1024px;
}
h6, h4, h2 {
  padding: 0 1em;
  margin: 1em;
}

button {
  padding: .5em;
  margin-bottom: 1em ;
  border-radius: 30px;
  border: 1px solid $div-font-color;
  background-color: $btn-bg-color;
  box-shadow: 1px;
}

button:hover {
  color: white;
  background-color: $div-font-color;
}

#btn-contact {
  background-color: $bg-color;
}
#btn-contact:hover {
  color: white;
  background-color: $div-font-color;
}

input {
  width: 90%;
}

textarea {
  width: 90%;
  height: 5em;
  resize: none;
}


.error {
  color:$error-text-color;
  margin: left 1em right 1em;
}

header{ 
  margin: 0;
  .header-wrapper {
    justify-self: center;
    font-family: $font;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    h1 {
      font-size: 3em;
      position: absolute;
      z-index: 2;
      justify-content: center;
      margin: 0;
      top: 10%; 
      left: 25%;
      color: $big-font-color;
      animation-duration: 4s;
      animation-name: to-bottom;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    h1:hover {
      color: rgb(46, 18, 18);
      /* offset-x | offset-y | blur-radius | color */
      text-shadow: 1px 1px 12px $big-font-color;
    }
    div {
      padding: 0;
    }
    img {
      width: 80%;
      max-width: 1024px;
      height: auto;
      position: relative;
      margin: 0; 
      padding: 0;
      object-fit: cover;
      object-position: 0% 0%;
    }
    img:hover {
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}


.about > div {
  @include margin-padding;
  background-color: $bg-of-div;
  border-top: 2px solid $div-font-color;
  color: $div-font-color;
}

.about > div:nth-child(-n+4):hover {

  background-color: $big-font-color;
  color: $bg-color;
}

.video-section{
  background-color: $bg-color;
  @include margin-padding;
  .videos {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70% 20%;
    padding-bottom: 5%;
    justify-content: center;
    .videos-main {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      .fallback {
        position: absolute;
        width: 100%;
        height: 100%; //max-content;
        background-color: $bg-color;
      }
    }
    
    .videos-list {

      border: 2px solid $bg-color;
      max-height: 270px;
      overflow-y: auto;
      .video {
        padding:0;
        margin: 0;
        h6 {
          position: relative;
          top: 0;
          display: inline-block;
          padding:0;
          margin: 0;
        }
        img {
          display: block;
          width: 80%;
          height: auto;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
    }
    }
  }
}




#form {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  background: $bg-color;
  border-left: 1px solid $border-color;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  display: none;
  position: fixed;
  animation-duration: 3s;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: inline;
  z-index: 3;
}

@media (min-width: 380px) {

      .videos-wrapper {
        width: 100%;
        position: relative;
        padding-top: calc(100%*0.5625);
        margin-bottom: 3em;
        top: 0;
        left: 0;
        margin: 0;
        iframe {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height: 90%;
        }
      }
    
  

  #discs {
    @include discs-two-columns;
    font-size: 1.5em;
  }
}

@media (max-width: 770px) {
  header{ 
    .header-wrapper {
      h1 {
        top: 5%; 
        left: 8%;
        animation: none;
      }
    }
  }



  main div iframe {
    width: auto;
    max-width: 90%;
    height: max-content;
    margin: 0 1em 2em 1em; 
  }

  #discs {
    @include discs;
    .disc-container {
      // max-width: 250px;
      .disc-img {
        @include flex-text(fit-content);
        & > div {
          width: fit-content; //to make text not picking out under img
          // height: fit-content; 
           max-height: fit-content;
        /* width: 60vw;*/
        }
      }
      
    }
    
  }
 
  .video-section{
    @include margin-padding;
    .videos {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, auto);
      padding-bottom: 5%;
      justify-content: center;
      .videos-main {
        order: 2;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
      
      .videos-list {
        display: grid;
        order: 1;
        border: 2px solid $bg-color;
        height: max-content;
        max-height: fit-content;
        // width:100%;
        overflow-x: auto;
        overflow-y: hidden;
        grid-auto-flow: column;
        // grid-template-columns: repeat(auto);
        position: relative;
        padding: 5px;
        margin-bottom: 15px;
        .video {
          display: grid;
          padding:0;
          margin: 0;
          width: 100%;
          height: auto;
          h6 {
            order: 2;
            position: relative;
            top: 0;
            display: inline-block;
            padding:0;
            margin: 0;
          }
          &div {
            order: 1;
            padding: 0;
            margin: 0;
            img {
              display: inline-block;
              // width: auto;
              // height: auto;
              position: static;
              left: 0%;
              transform: translateX(0);
              padding: 0;
              margin: 0;
            }
          }
      }
      }
    }
  }
}
@media (min-width: 770px) {
  #discs {
    @include discs-two-columns;
  }
}

@media (max-width: 380px) {
  .video-section{
    .videos {
      grid-template-columns: 100%;
      padding-bottom: 0;
    }
  }
}

@media screen and (orientation:landscape) {
  main div iframe {
  width: auto;
  max-width: 90%;
  height: max-content;
  margin: 0 1em 2em 1em; 
  }

  textarea {
    width: 90%;
  }
  .verification {
    position: fixed;
    z-index: 4;
  }
}
.verification {
  justify-self: center;
  justify-content: center;
  background-image: './../form-bg-mikhail-nilov.jpg';
  background: $bg-color;
  border: 1px solid $border-color;
  margin: 0;
  padding: 0 0 1em 0;
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#exit {
  background: $error-text-color;
  color: white;
  border-radius: 0;
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.question {
  margin: 1em;
}

.questionsAnswer {
  border-radius: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 0.3em;
  background-color: $big-font-color;
  color: black;
  width: 80%;
}

.comunicates{
  margin: .5em 1em;
  color: $error-text-color;
  font-size: 15px;
  text-align: center;
}

@keyframes slidein {
  0% {
    transform: translate(100vw, 0);
  }
  100% {
    transform: translate(50vw, 0);

  }
}

@keyframes to-bottom {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(25%);
  }
}

